first-mule/src/main/mule/first-mule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c2c88a74-ac5c-4980-9518-781d08728089" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="de96d763-f0a8-40da-a585-4a7ca857b52d" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="first-muleFlow" doc:id="a647a371-0111-4f13-b1e1-cb0dcf515d1c" >
		<http:listener doc:name="Listener" doc:id="17e666ff-faf3-4f97-a5e4-c28b791cc7ad" config-ref="HTTP_Listener_config" path="/flights" allowedMethods="GET"/>
		<db:select doc:name="Select" doc:id="438e9017-01a9-4336-8ec8-22bdb3093c70" config-ref="Database_Config">
			<db:sql >SELECT * from american</db:sql>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="1e2b2971-9126-4202-a16e-cbda9e8a01fa" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.code1 default "") ++ (payload01.code2 default ""),
	price: payload01.price,
	departureDate: payload01.takeOffDate as String,
	origin: payload01.fromAirport,
	destination: payload01.toAirport,
	emptySeats: payload01.seatsAvailable,
	plane: {
		"type": payload01.planeType,
		totalSeats: payload01.totalSeats
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getFlightsByID" doc:id="7a5b94b8-265c-4022-834d-bf7bf69df26e" >
		<http:listener doc:name="Listener" doc:id="0acdccff-701b-4d8c-9211-9e027020dc27" config-ref="HTTP_Listener_config" path="/flights/{ID}" allowedMethods="GET" />
		<db:select doc:name="Select" doc:id="6d0d54d8-0fbb-4ad0-8a06-fd2150cc90a6" config-ref="Database_Config" >
			<db:sql >SELECT * from american where id=:ID</db:sql>
			<db:input-parameters ><![CDATA[#[{'ID' : attributes.uriParams.ID}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="73d4a97e-8d72-40f9-ae61-ebacd7d2e993" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.code1 default "") ++ (payload01.code2 default ""),
	price: payload01.price,
	departureDate: payload01.takeOffDate as String,
	origin: payload01.fromAirport,
	destination: payload01.toAirport,
	emptySeats: payload01.seatsAvailable,
	plane: {
		"type": payload01.planeType,
		totalSeats: payload01.totalSeats
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="postFlight" doc:id="0985c29a-a7ad-4336-82ec-d3ff39a284eb" >
		<http:listener doc:name="Listener" doc:id="81c8a0da-7f9d-4b5e-9d67-f984a5d06b61" config-ref="HTTP_Listener_config" path="/flights" allowedMethods="POST"/>
		<set-payload value='{message: "Flights has been added (but not reallly)"}' doc:name="Set Payload" doc:id="73d09e5f-37ea-4343-82b6-959358cd5ec2" />
	</flow>
</mule>
